.c2
{
    -webkit-box-shadow: 2px 6px 10px 1px rgba(172,171,173,1);
-moz-box-shadow: 2px 6px 10px 1px rgba(172,171,173,1);
box-shadow: 2px 6px 10px 1px rgba(172,171,173,1);
margin-bottom: 30px;
margin-left: 10px;
margin-top: 20px;
height:550px;
width:20%;

}