
<ul class="nav flex-column c2" style="width: 50%;">
    <li class="nav-item">
      <a class="nav-link active text-black my-3" routerLink="">
        <h4>Ziya</h4>
      </a>
    </li>
    <hr style="color:rgb(226, 223, 223)">
    <li class="nav-item mx-2">
      <i class="bi bi-card-checklist"></i><a routerLink="/userlanding/userorder/myorder"
        class="nav-link active text-black d-inline-block mt-3">
        <h6>My Orders</h6>
      </a>
    </li>
    <li class="nav-item mx-2">
      <i class="bi bi-person-lines-fill"></i><a routerLink="/userlanding/userprofile/editprofile" class="nav-link text-black d-inline-block mt-3">
        <h6>Edit Profile</h6>
      </a>
    </li>
    <li class="nav-item mx-2">
      <i class="bi bi-translate"></i><a class="nav-link text-black d-inline-block mt-3" routerLink="">
        <h6>Select a Language</h6>
      </a>
    </li>
    <li class="nav-item mx-2">
      <i class="bi bi-file-earmark-text"></i><a routerLink="/userlanding/userorder/orderhistory" class="nav-link text-black d-inline-block my-3">
        <h6>Order History</h6>
      </a>
    </li>
  </ul>