<div class="col s2 justify-content-start">
    <div class="container con ">


      <div class="col-md-3 justify-content-start mx-0 ">
        <div class="rect bg-light">
          <img src="../../../assets/images/Group 61.png" width="120px" height="160px"
            style="padding-left: 20px;padding-top: 10px;">

        </div>

      </div>
      <div class="col  ">
        <div class="user-data ">


          <div class="col-md-3" style="margin-left: 70px;">
            <ul style="list-style: none;">
              <li class="fw-bold my-2">Name:</li>
              <li class="fw-bold my-2">Email:</li>
              <li class="fw-bold my-2">Phone:</li>
              <li class="fw-bold my-2">Address:</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul style="list-style: none; border-right: 1px solid rgb(233, 231, 231);">
              <li class="my-2 text-secondary"></li>
              <li class="my-2 text-secondary"></li>
              <li class="my-2 text-secondary"></li>
              <li class="my-2 text-secondary"></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

