<!-- <app-usernavbar></app-usernavbar> -->

    <nav class="navbar navbar-expand-lg bg-body-light">
    <div class="container-fluid ship-status">
     
       <div class="order ms-3 mt-2 ps-5 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
      </svg> 
      Shipping 
      <span><img src="../../assets/images/Line 2.png"></span>
  
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
        <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
      </svg>
    <span><img src="../../assets/images/Spiral 3.png" class="spiral"></span></div>
      
       
    
</div></nav>
    
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col  py-2 ">
            <div class="card card1  " style="width: 28rem;height: 32rem;">
              <div class="image-border ">    
                <img class="card-img-top c1 " src="../../assets/images/image 5.png" alt="Card image cap">
              <img src="../../assets/images/add-square.png" class="square">
            </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <h6 class="col ">
                        Use saved Card:
                      </h6>
                      <div class="col">
                        <select class="form-select bg-light" aria-label="Disabled select example" >
                          <option selected>Master Card</option>
                          <option value="1">Credit Card</option>
                          <option value="2">Visa Card</option>
                          <option value="3">Paytm</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress " class="text-secondary card">Name on Card:</label>
                        <input type="text" class="form-control mt-2 bg-light place" id="inputAddress" placeholder="Esther Howard">
                        
                    </div>
                      <div class="form-group">
                        <label for="inputCardNumber " class="text-secondary card">Card Number:</label>
                        <input type="text" class="form-control mt-2 bg-light place1" id="inputCardNumber" placeholder="123-456-789-">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputDate" class="text-secondary t1">Expry Date:</label>
                        <input type="date" class="form-control mt-2 bg-light" id="inputDate" placeholder="MM/YY">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4" class="text-secondary t1 ">CCV</label>
                        <input type="password" class="form-control mt-2 bg-light place2" id="inputPassword4" placeholder="...">
                      </div>
                     <div class="form-group mt-2 ">
                        <img class="i3 float-end master" src="../../assets/images/Vector-4.png">
                        <img class="i3 float-end mx-2" src="../../assets/images/visa.jpg">
                        <img class="i3 mx-2 float-end " src="../../assets/images/master-card.jpg">
                        </div>
                    </div>
                  </form>
                </div>
              </div>
        </div>
   

<div class="col py-2">
  <div class="card card2" style="width: 18rem;">
      <img class="card-img i2" src="" alt="Card image cap">
      <div class="card-body">
        <table class="table">
          <thead>
           
          </thead>
          <tbody>
            <tr>
             
              <td>Product Total</td>
              <td></td>
              <td>201/-</td>
            </tr>
            <tr>
              
              <td>Discount</td>
              <td></td>
              <td>%10<span class="text-muted">(100/-)</span></td>
            </tr>
            <tr>
              
              <td>Delivery fee</td>
              <td></td>
              <td>Free</td>
            </tr>
            <tr>
              
              <th class="t2" >Discount</th>
              <td></td>
              <th class="t2">250/-</th>
            </tr>
          </tbody>
        </table>
        
      </div>
      <button type="button" class="btn btn-primary  btn1 btn-block"  >Order</button>
    </div>
</div>
</div>
</div>
