<div class="text-center mt-2">
    <h1 class="all-products">All Products</h1>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control input-sm" placeholder="search something.."
                    aria-label="Recipient's username" aria-describedby="button-addon2" size=20>
                <button class="btn search" type="button" id="button-addon2">Search</button>
            </div>

        </div>
    </div>
</div>